OPENAI_API_KEY='exchange-with-your-openai-key'

TARGET_HOST=192.168.121.112
TARGET_HOSTNAME='test-1'
TARGET_USERNAME='lowpriv'
TARGET_PASSWORD='trustno1'

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="exchange-with-your-langchain-api-key"
LANGCHAIN_PROJECT="project-name"
